<div class="jumbotron">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h1>Certifications...</h1>
            <p>
                There is no salesforce.certification__c table in the Heroku Postgres database so we could not delete 
                or there was an exception inserting the records. Did you create the mapping?
            </p>
        </div>
    </div>
</div>